@import url('https://rsms.me/inter/inter.css');
html { font-family: 'Inter', sans-serif; }

@supports (font-variation-settings: normal) {
  html { font-family: 'Inter var', sans-serif; }
}

/* ----------------Moile Version-------------- */
html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

.container {
  display: flex;
  flex-direction: column;
}

.navbar {
  display: none;
}

#welcome-image {
  padding-left: 15%;
  padding-top: 15%;
}

.toolbar-container {
  display: flex;
  flex-direction: row;
  width: 100%;
}

.menu {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #67798e;
  width: 100%;
  padding-right: 20px;
  margin-top: 8px;
}

.mobile-menu {
  background-color: #fff;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 3;
}

.hide {
  display: none;
}

.show {
  display: block;
}

.cross {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  background-color: transparent;
  border: none;
  font-size: 20px;
  color: #67798e;
  width: 100%;
  padding-right: 20px;
  margin-top: 8px;
}

.mobile-menu-list a {
  text-decoration: none;
  color: #3a4a42;
}

.mobile-menu-list li {
  margin-bottom: 10px;
}

.mobile-menu-list ul {
  list-style-type: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 32px;
  line-height: 44px;
}

.hero-title-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 531px;
  padding: 64px 24px;
  gap: 58px;
  background-image: url(images/header-illsutration-mobile.svg);
  background-repeat: no-repeat;
  background-size: inherit;
  background-position-y: auto;
  background-position-x: center;
}

#headline-img-desktop {
  display: none;
}

.main-text {
  font-size: 29px;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
}

#first {
  font-size: 36px;
  text-align: center;
}

#second-title {
  color: #36b37e;
  font-size: 40px;
  text-align: center;
}

.hero-description {
  width: 327px;
  height: 164px;
  font-weight: 400;
  font-size: 20px;
  align-items: center;
  text-align: center;
  padding-bottom: 15%;
}

.social-media-links {
  margin-left: 20px;
}

.Action {
  margin-left: -21px;
}

#media-links {
  list-style-type: none;
}

#media-links li {
  display: inline;
  padding: 6px;
}

#action {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
}

.careers_list {
  display: flex;
  row-gap: 30px;
  flex-direction: column;
  align-items: center;
  margin-left: -70px;
}

.careers-card {
  display: flex;
  flex-direction: column;
  margin-left: 80px;
  width: 327px;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
  align-items: center;

  /* transition: width 1s, height 2s; */
}

.education-card {
  display: flex;
  flex-direction: column;
  width: 327px;
  height: 352px;
  background-color: #ebf0ee;
  align-items: center;
  margin-left: 85px;
  border-radius: 8px;
}

#Recent-Works-Text {
  text-align: center;
  height: auto;
  font-size: 40px;
  font-weight: 700;
  font-family: 'Inter', sans-serif;
  line-height: 52px;
}

.img-Placeholder {
  background-color: #ebf0ee;
  width: 327px;
  height: 230px;
  align-items: center;
  justify-content: center;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

.careers-card-footer {
  width: 327px;
  height: 222px;
  background: #fff;
  border: 1px solid #d0d9d4;
  border-radius: 8px;
}

#careers_title {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  justify-content: center;
  line-height: 32px;
  text-align: center;
}

#career-tags {
  margin: 0;
  padding-left: 20px;
}

#career-tags li {
  display: inline;
  font-family: 'Inter', sans-serif;
  padding: 6px;
  background-color: #ebf0ee;
  border-radius: 4px;
}

.project-button {
  font-family: 'Inter', sans-serif;
  background-color: #36b37e;
  border: none;
  color: white;
  padding: 12px;
  text-align: center;
  text-decoration: none;
  font-size: 17px;
  border-radius: 4px;
  cursor: pointer;
}

.about-me-title {
  display: flex;
  justify-content: center;
  font-family: 'Inter', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  text-align: center;
  height: 100px;

  /* background-image: url(images/about-desktop-1.svg); */
  background-repeat: no-repeat;
  background-position: right;
}

.About {
  justify-content: flex-end;
}

.about-me-detail {
  width: 351px;
  font-family: 'Inter', sans-serif;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  text-align: center;
  margin-left: 29px;
}

#about-me-text {
  justify-content: center;
  text-align: center;
  font-size: 40px;
}

.standard-button {
  background-color: #36b37e;
  border: none;
  color: rgb(255, 255, 255);
  padding: 12px;
  text-align: center;
  text-decoration: none;
  font-family: 'Inter', sans-serif;
  font-size: 17px;
  border-radius: 4px;
  cursor: pointer;
  margin-left: 130px;
}

.education {
  display: flex;
  row-gap: 30px;
  flex-direction: column;
  align-items: center;
  margin-left: -70px;
}

.education-title {
  font-family: 'Inter', sans-serif;
  font-size: 24px;
  font-weight: 600;
  line-height: 32px;
}

#education-ul-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#education-ul-list li {
  display: inline;
  background-color: #fff;
  color: #36b37e;
  margin: 2px;
  padding: 8px;
  border-radius: 8px;
}

.education-list-2 {
  padding-top: 20px;
  padding-right: 50px;
}

#education-ul-list-2 li {
  display: inline;
  background-color: #fff;
  color: #36b37e;
  margin: 2px;
  padding: 12px;
  border-radius: 8px;
}

.about_me_section {
  display: grid;
  row-gap: 20px;
  grid-template-rows: auto;
}

.contact-form-section {
  display: flex;
  flex-direction: column;
}

#contact-form-desc {
  width: 327px;
  height: 320px;
  text-align: center;
  font-family: 'Inter', sans-serif;
  font-weight: 700;
  font-size: 40px;
  line-height: 52px;
  color: #172b4d;
  margin-bottom: 166px;
  margin-left: 35px;
}

.form {
  margin-left: 30px;
}
input {
  margin-bottom: 30px;
}

#fullname,
#fullnames,
#email {
  width: 327px;
  height: 48px;
  border-radius: 4px;
  border-color: #d0d9d4;
}

#textarea {
  width: 327px;
  height: 114px;
  border-radius: 4px;
  border-color: #60c095;
}

#get-in-btn {
  margin-top: 20px;
  margin-left: 110px;
}

#social-media-links-2 {
  margin-left: 70px;
  margin-top: 10px;
}

#footer-email {
  width: 375px;
  font-family: 'Inter', sans-serif;
  font-weight: 400;
  font-size: 20px;
  color: #42526e;
  margin-left: 25px;
}

.standard-button:hover,
.project-button:hover {
  background-color: #36b37f;
  color: #fff;
}

.standard-button:active,
.project-button:active {
  background-color: #008552;
  color: #fff;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

/* -------------Desktop Vesrion------------- */

@media screen and (min-width: 768px) {
  html,
  body {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  #headline-img-desktop {
    display: block;
    width: 100%;
  }

  .navbar {
    display: flex;
    margin-left: 41%;
  }

  #navbar-Pages {
    list-style-type: none;
  }

  #navbar-Pages li {
    display: inline;
    padding: 12px;
  }

  .hero-title-section {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 726px;
    padding: 64px 24px;
    gap: 58px;
    background-image: url(images/Header-llustration-desktop.svg);
    background-repeat: no-repeat;
    background-size: inherit;
    background-position-y: auto;
    background-position-x: center;
  }

  a:link {
    text-decoration: none;
  }

  #welcome-image,
  .menu,
  #headline-img-mobile {
    display: none;
  }

  .menu-item-1 {
    text-decoration: none;
    color: black;
    font-weight: 500;
  }

  .hero-title {
    position: relative;
    justify-content: center;
    text-align: center;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    margin-left: 20px;
  }

  .text {
    padding-bottom: 10%;
  }

  #media-links {
    margin-right: 8%;
  }

  .hero-description {
    width: 920px;
    height: auto;
  }

  .careers_list {
    display: grid;
    grid-template-columns: auto auto auto;
    row-gap: 30px;
    justify-content: center;
  }

  #Recent-Works-Text {
    width: 100%;
    height: auto;
    padding-left: 2%;
  }

  .about-me {
    width: 100%;
    display: grid;
    row-gap: 30px;
    justify-content: center;
    background-image: url(images/about-desktop-1.svg);
    background-repeat: no-repeat;
    background-position: right 20px;
  }

  #about-me-text {
    text-align: center;
    font-size: 40px;
    margin-top: 75px;
  }

  #get-my-resume-section {
    margin-left: 27%;
  }

  .about-me-detail {
    width: 900px;
    height: 96px;
  }

  .About {
    display: none;
  }

  .education {
    display: grid;
    grid-template-columns: auto auto auto;
    justify-content: center;
  }

  .contact-form-section {
    display: flex;
    flex-direction: column;
    width: 100%;
    background-image: url(./Images/Frame2.png);
    background-image: url(./Images/illustration-2-contact-form-desktop.png);
    background-image: url(./Images/Frame@2x.png);
    background-repeat: no-repeat;
  }

  #contact-form-detail {
    display: grid;
    grid-template-columns: 50% 50%;
    margin-top: 5%;
    padding-left: 7%;
  }

  .contact-form-description {
    width: 100%;
  }

  #contact-form-desc {
    width: 100%;
    line-height: 52px;
    margin-top: 53px;
    margin-left: 116px;
  }

  .form {
    width: 50%;
    margin-left: 100px;
  }

  .Names {
    display: flex;
    flex-direction: row;
    gap: 10px;
    width: 420px;
  }

  #fullname {
    width: 50%;
  }

  #fullnames {
    width: 50%;
  }

  #email {
    width: 400px;
    height: 48px;
  }

  #textarea {
    width: 400px;
    height: 114px;
    border-radius: 4px;
    border-color: #60c095;
  }

  #get-in-btn {
    display: flex;
    margin-left: 0;
    justify-content: flex-start;
    align-items: center;
  }

  #footer-email {
    display: none;
  }

  #social-media-links-2 {
    margin: 0;
    width: 100%;
    border-top: 2px solid #dfe1e6;
  }

  #social-media-links-2 ul {
    margin-left: 45%;
  }
}
